# Time Analysis prediction 

using the regrssion techniques can you predict the future of the stock market based on the history of it ?

![Time analysis](https://magoosh.com/statistics/files/2018/05/time_series.png)

it would be great to predict one day in the future, one month and one year !

In [74]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
%matplotlib inline

In [75]:
dataset = pd.read_csv("../dataset/EURUSD_15m.csv")
dataset

                    Time     Open     High      Low    Close       Volume
0       2010-01-01 00:00  1.43283  1.43293  1.43224  1.43293  608600007.1
1       2010-01-01 00:15  1.43285  1.43295  1.43229  1.43275  535600003.2
2       2010-01-01 00:30  1.43280  1.43303  1.43239  1.43281  436299999.2
3       2010-01-01 00:45  1.43285  1.43294  1.43229  1.43276  614299997.3
4       2010-01-01 01:00  1.43287  1.43292  1.43206  1.43282  705300008.8
...                  ...      ...      ...      ...      ...          ...
245439  2016-12-31 22:45  1.05150  1.05150  1.05150  1.05150          0.0
245440  2016-12-31 23:00  1.05150  1.05150  1.05150  1.05150          0.0
245441  2016-12-31 23:15  1.05150  1.05150  1.05150  1.05150          0.0
245442  2016-12-31 23:30  1.05150  1.05150  1.05150  1.05150          0.0
245443  2016-12-31 23:45  1.05150  1.05150  1.05150  1.05150          0.0

[245444 rows x 6 columns]

In [76]:
dataset['Time'] = pd.to_datetime(dataset['Time'])
dataset.set_index('Time', inplace=True)
dataset.head()

                        Open     High      Low    Close       Volume
Time
2010-01-01 00:00:00  1.43283  1.43293  1.43224  1.43293  608600007.1
2010-01-01 00:15:00  1.43285  1.43295  1.43229  1.43275  535600003.2
2010-01-01 00:30:00  1.43280  1.43303  1.43239  1.43281  436299999.2
2010-01-01 00:45:00  1.43285  1.43294  1.43229  1.43276  614299997.3
2010-01-01 01:00:00  1.43287  1.43292  1.43206  1.43282  705300008.8

In [77]:
day_reads = len(dataset['2011-1-1'])
day_reads

96

In [78]:
forecast_out = day_reads*7             # predicting 1 week into future
dataset['Close'] = dataset['Close'].shift(-forecast_out)
dataset = dataset.iloc[:,:-1]
dataset.tail()

                       Open    High     Low  Close
Time
2016-12-31 22:45:00  1.0515  1.0515  1.0515    NaN
2016-12-31 23:00:00  1.0515  1.0515  1.0515    NaN
2016-12-31 23:15:00  1.0515  1.0515  1.0515    NaN
2016-12-31 23:30:00  1.0515  1.0515  1.0515    NaN
2016-12-31 23:45:00  1.0515  1.0515  1.0515    NaN

In [79]:
features_train = dataset.iloc[:-forecast_out,:-1]
goal_train = dataset.iloc[:-forecast_out,-1]

### Machine Learning Model

In [84]:
from sklearn.model_selection import train_test_split
train_set, test_set, goal_train, goal_test = train_test_split(features_train,goal_train,test_size = 0.2,random_state=0)

In [85]:
from sklearn.linear_model import LinearRegression
from 

LR = LinearRegression()
LR.fit(train_set,goal_train)
LR.score(test_set,goal_test)

0.9776096297040977

In [86]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = LR, X = train_set, y = goal_train, cv = 10)
print("accuracy mean: ",accuracies.mean())
print("accuracy std: ",accuracies.std())

accuracy mean:  0.9774838725642878
accuracy std:  0.00033015051635409173